<%= form_for @entry do |f|%>

<table class="w3-table w3-bordered">

<tr>
  <td><%= f.label :quantity %></td>
  <td><%= f.text_field :quantity %></td>
</tr>

<tr>
  <td><%= f.label :counter_id, 'Select Counter' %></td>
  <td><%= f.collection_select :counter_id, Counter.all, :id, :title, include_blank: true %></td>
</tr>
<br>

<tr>
  <td colspan="2"><%= f.submit class: 'w3-button w3-bar w3-black' %></td>
</tr>
<%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
<br>
<%#= f.fields_for :counter, Counter.new do |ff| %>
  <%#= ff.label :title, 'New Counter' %>
  <%#= ff.text_field :title %>

<%# end %>
<br>


</table>
<% end %>
