<div class="w3-container">
  <h1>Create Entry</h1>
  <%= form_for @entry do |f|%>
  <%= f.label :counter_id, 'Select Counter' %>
  <%= f.collection_select :counter_id, Counter.all, :id, :title, {include_blank: true}, {class: 'w3-select'} %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity, value: '0', class: 'w3-input', id: 'numba' %>
  <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>

  <%= render 'buttons' %>

  <%= f.submit class: 'w3-button w3-bar w3-black' %>
  <% end %>
</div>

<br>
<br>
