<h1><%= @user.name %></h1>

<table>
  <tr>
    <th colspan="2">Counters</th>
  </tr>
  <tr>
    <th><%= link_to 'Add Entry', new_entry_path %></th>
  </tr>

  <% @user.counters.each do |counter| %>
  <tr>
    <th colspan="2"><%= counter.title %></th>
  </tr>

  <% counter.entries.each do |entry|  %>
  <tr>
    <td><%= entry.created_at.strftime('%D %R') %></td>
    <td><%= entry.quantity %></td>
  </tr>
  <% end %>
  <% end %>
</table>
