
<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th colspan="2"><h1><%= @user.name %></h1></th>
  </tr>

  <tr>
    <th colspan="2"><%= link_to 'Add Entry', new_entry_path, class: 'w3-btn w3-green w3-bar' %></th>
  </tr>

  <tr>
    <td colspan="2"><%= link_to 'Add New Counter', new_counter_path, class: 'w3-btn w3-blue w3-bar' %></td>
  </tr>

  <% @counters.each do |counter| %>

  <tr class="w3-light-grey">
    <th colspan="2"><h2><%= counter.title %></h2></th>
  </tr>

  <tr class="w3-white">
    <th colspan="2" class="w3-center"><%= "Today's Total: #{@user.todays_total(counter)}" %></th>
  </tr>

  <tr>
    <th>Recent entries:</th>
    <th>Qty:</th>
  </tr>

    <% Entry.counter_user_entries(counter, @user).limit(3).each do |entry|  %>
    <tr>
      <td><em><%= entry.created_at.localtime.strftime('%D %X') %></em></td>
      <td><%= entry.quantity %></td>
    </tr>
    <% end %>

  <% end %>
</table>
