
<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>Leaderboard</h1></th>
  </tr>

  <tr>
    <td class="w3-bar w3-black" colspan="2">
      <%= link_to 'All-Time', '#', class: 'w3-bar-item w3-button' %>
      <%= link_to 'Week', '#', class: 'w3-bar-item w3-button' %>
      <%= link_to 'Day', '#', class: 'w3-bar-item w3-button' %>
    </td>
  </tr>

  <% Counter.all.each do |counter| %>
  <tr>
    <th colspan="2"><h2><%= counter.title %></h2></th>
  </tr>

  <tr>
    <th>Name</th>
    <th>Grand Total</th>
  </tr>
  <% counter.users.uniq.sort_by{|e| -e.grand_total(counter)}.each_with_index do |user, i| %>
    <tr>
      <td><%= "#{i + 1}. #{user.first_name}" %></td>
      <td><%= user.grand_total(counter) %></td>
    </tr>

  <% end %>

  <% end %>
</table>
