<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>

  <body class="w3-mobile">
    <div class="w3-mobile">

    <% if logged_in? %>
    <div class="w3-bar w3-black w3-top">
      <%= link_to 'Home', user_path(current_user), class: 'w3-bar-item w3-button' %>
      <%= link_to 'Leaderboard', '/leaderboard?day=', class: 'w3-bar-item w3-button' %>
      <%= link_to 'Log Out', '/logout', class: 'w3-bar-item w3-button' %>
    </div>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
